@import "../../assets/styles/variables";

.button {
  background-color: $primary;
  color: $white;
  opacity: 0.8;
  transition: all 0.5s;

  &:hover {
    opacity: 1;
    transition: all 0.5s;
  }
}
