// File contains fallback css classes for IE browser
@media all and (-ms-high-contrast: none) {
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .bg-white {
    background-color: rgba(255, 255, 255, 1);
  }

  .bg-gray-100 {
    background-color: rgba(243, 244, 246, 1);
  }

  .text-gray-200 {
    color: rgba(229, 231, 235, 1);
  }
  .text-gray-400 {
    color: rgba(156, 163, 175, 1);
  }

  .break {
    word-wrap: break-word;
    max-width: 90%;
  }
}
