@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import 'variables';
@import 'ie';

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: $black;
}

html,
body {
  height: auto;
  min-height: 100%;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
