@import '../../../assets/styles/variables';

.separator {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 75%;
    background-color: $grey2;

    @media (max-width: 768px) {
      width: 75%;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      top: auto;
    }
  }
}
